<mat-toolbar>
    <button
        mat-icon-button
        type="button"
        class="toggle-navbar"
        aria-label="Toggle sidenav"
        (click)="toggleNavbar()"
    >
        <mat-icon
            matPrefix
            matIconPrefix
            fontSet="hack"
            aria-label="Side nav toggle icon"
        >
            󰍜
        </mat-icon>
    </button>
    <ng-content />
    @if (selectionState().selectModeActive) {
        <a class="select-mode-display-chip">
            <mat-chip 
                (click)="quitSelectMode()"
                color="tertiary"
            >
                Select Mode ({{ selectionState().selection.length }})
            </mat-chip>
        </a>
    }
</mat-toolbar>
