@use '@angular/material' as mat;

mat-toolbar button {
  flex-shrink: 1;
  flex-grow: 0;
}

.select-mode-display-chip {
  cursor: pointer;
  z-index: 8;
  
  mat-chip {
    background-color: #2196f3;
  }

  @include mat.chips-overrides((
    outline-width: 2px,
    outline-color: white,
    label-text-size: var(--mat-sys-label-large-size, 14px),
  ));
}
a.select-mode-display-chip {
  position: absolute;
  z-index: 10;
  left: 38%;
  top: 4rem;
}
