<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="isHandset() ? 'dialog' : 'navigation'"
		[mode]="isHandset() ? 'over' : 'side'"
	>
		<mat-toolbar>
            <a routerLink="/">
                <img src="/garden/Homie-png-96.png" />
                <h2>Garden</h2>
            </a>
        </mat-toolbar>
		<mat-nav-list>
        @for (link of navigationLinks; track $index)
        {
            <a mat-list-item [routerLink]="link.path">{{ link.headline }}</a>
        }
		</mat-nav-list>
	</mat-sidenav>
    <mat-sidenav-content>
        <ng-content />
    </mat-sidenav-content>
</mat-sidenav-container>
