img {
    max-height:  2rem;
    max-width: 2rem;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.64rem;
}

h2 {
    display: inline-block;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 16rem;
}

.mat-mdc-nav-list {
    padding: 0.48rem;
}

.sidenav .mat-toolbar {
    background: inherit;
}

