h2 {
    margin-bottom: 1rem;
}
div {
    display: inline-block;
    background-color: #2a2a2a;
    padding: 1rem;
}
div.login-container {
    margin: auto;
    width: 16rem;
    border-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
    box-shadow: var(--mat-card-elevated-container-elevation, var(--mat-sys-level2));
}
div.login-container-handset {
    width: 100%;
}

h2 {
    display: inline-block;
}

img {
    margin-right: 1rem;
    display: inline-block;
    vertical-align: top;
}

mat-form-field {
    width: 100%;
}

/* form {
    display: grid;
} */

button {
    float: right;
}

pre {
    padding: 0.48rem;
    margin-bottom: unset;
    border-style: dotted;
    border-color: darkred;
    border-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
    box-shadow: var(--mat-card-elevated-container-elevation, var(--mat-sys-level1));
    background-color: #333333;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 16rem;
    text-wrap: auto;
}

/* div.login-form {
}
div.login-form-handset {
} */
